.code-viewer {
  padding: 0;
}
.code-viewer .CodeMirror {
  height: calc(100% - 80px);
  width: 100%;
}
.code-viewer .CodeMirror .selected {
  background: yellow;
}
@media only screen and (max-width: 767px) {
  .code-viewer .CodeMirror {
    height: calc(100% - 140px);
  }
}

.tag-count-viewer {
  height: calc(100% - 80px);
  overflow: hidden;
  padding: 0 20px;
}
.tag-count-viewer form input.ng-dirty.ng-invalid,
.tag-count-viewer form input.ng-dirty.ng-invalid-url,
.tag-count-viewer form input.ng-dirty.ng-invalid-required {
  border-color: #d54d4d;
}
.tag-count-viewer form input.ng-dirty.ng-invalid:focus,
.tag-count-viewer form input.ng-dirty.ng-invalid-url:focus,
.tag-count-viewer form input.ng-dirty.ng-invalid-required:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(213, 77, 77, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(213, 77, 77, 0.6);
}
.tag-count-viewer form input.ng-dirty.ng-valid {
  border-color: #29ad29;
}
.tag-count-viewer form input.ng-dirty.ng-valid:focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 173, 41, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(41, 173, 41, 0.6);
}
.tag-count-viewer .spinner {
  height: 100%;
  width: 100%;
  text-align: center;
}
.tag-count-viewer .spinner i {
  color: #a9a9a9;
  position: relative;
  top: calc(50% - 150px);
  font-size: 100px;
}

.tag-list {
  height: calc(100% - 80px);
  overflow: auto;
  padding-right: 0;
}
.tag-list .mobile-commands {
  display: none;
}
.tag-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.tag-list ul li.tag-list-item {
  text-align: center;
  padding: 6px 10px;
  border: 1px solid #e6e6e6;
  border-top: none;
  cursor: pointer;
  color: #5a5a5a;
}
.tag-list ul li.tag-list-item .item-label {
  font-weight: bold;
  margin-bottom: 2px;
}
.tag-list ul li.tag-list-item:first-child {
  border-top: 1px solid #e6e6e6;
}
.tag-list ul li.tag-list-item:hover {
  background-color: #c7c7c7;
  color: #fff;
}
.tag-list ul li.tag-list-item.selected {
  background-color: #537d48;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .tag-list {
    height: 70px;
  }
  .tag-list .mobile-commands {
    display: block;
    margin-top: 5px;
  }
  .tag-list .mobile-commands button {
    display: block;
    width: 100%;
  }
  .tag-list ul {
    display: none;
  }
  .modal-dialog .tag-list {
    height: 100%;
  }
  .modal-dialog .tag-list ul {
    display: block;
  }
}
