<div class="tag-list">
  <ul>
    <li ng-click="$dismiss()" class="tag-list-item dismiss-modal-button" ng-if="tags.length > 10">
      Close
    </li>
    <li ng-repeat="item in tags" class="tag-list-item" ng-click="$close(item.tag)" ng-class="{ selected: isTagSelected(item.tag) }">
      <div class="item-label">{{ item.tag | formatTag }}</div>
      <div class="item-value">{{ item.count }} elements</div>
    </li>
    <li ng-click="$dismiss()" class="tag-list-item dismiss-modal-button">
      Close
    </li>
  </ul>
</div>
