.tag-list {
  height: 100%;
  padding-right: 0;

  .mobile-commands {
    display: none;
  }

  .tag-wrapper {
    height: 100%;

    .input-group {
      margin-bottom: 4px;

      input {
        border-radius: 0;
        border-color: #e6e6e6;
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: ~"calc(100% - 119px)";
      overflow-y: auto;


      li.tag-list-item {
        text-align: center;
        padding: 6px 10px;
        border: 1px solid #e6e6e6;
        border-top: none;
        cursor: pointer;
        color: #5a5a5a;

        &.dismiss-modal-button {
          text-align: center;
          padding: 15px 0px;
          border-bottom: 1px solid #e6e6e6;

          &:hover {
            background-color: #c7c7c7;
            color: #fff;
          }
        }

        .item-label {
          font-weight: bold;
          margin-bottom: 2px;
        }

        &:first-child {
          border-top: 1px solid #e6e6e6;
        }

        &:hover {
          background-color: #c7c7c7;
          color: #fff;
        }

        &.selected {
          background-color: #537d48;
          color: #fff;
        }
      }
    }
  }

}

@media only screen and (max-width : 767px) {
  .tag-list {
    height: 70px;

    .mobile-commands {
      display: block;
      margin-top: 5px;

      button {
        display: block;
        width: 100%;
      }
    }

    .tag-wrapper {
      display: none;
    }
  }

  .modal-dialog {
    .tag-list {
      height: 100%;

      .tag-wrapper {
        display: block;
      }
    }
  }
}
