.tag-list {
  height: ~"calc(100% - 80px)";
  overflow: auto;
  padding-right: 0;

  .mobile-commands {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li.tag-list-item {
      text-align: center;
      padding: 6px 10px;
      border: 1px solid #e6e6e6;
      border-top: none;
      cursor: pointer;
      color: #5a5a5a;

      .item-label {
        font-weight: bold;
        margin-bottom: 2px;
      }

      &:first-child {
        border-top: 1px solid #e6e6e6;
      }

      &:hover {
        background-color: #c7c7c7;
        color: #fff;
      }

      &.selected {
        background-color: #537d48;
        color: #fff;
      }
    }
  }
}

@media only screen and (max-width : 767px) {
  .tag-list {
    height: 70px;

    .mobile-commands {
      display: block;
      margin-top: 5px;

      button {
        display: block;
        width: 100%;
      }
    }

    ul {
      display: none;
    }
  }

  .modal-dialog {
    .tag-list {
      height: 100%;
      
      ul {
        display: block;
      }
    }
  }
}
